:root {
  --bg-primary: #111827;   
  --placeholder: #6b7280;   
  --text:    #ffffff;   
  
  --goal-30: #6366f1;
  --goal-50: #f97316;
  --goal-reached:  #047857; 

  --btn-background:  #059669;   
  --color-green-400:  #34d399;

  --color-red-800:    #991b1b;
  --color-red-500:    #ef4444;   
  
}





body {
    font-family: 'Inter', sans-serif;
    transition: background-color 0.8s ease-in-out; 
    user-select: none; 
    overflow: hidden;
    background-color: var(--bg-primary);
    color: var(--text);
}

.goal-input {
    transition: border-color 0.3s, background-color 0.3s;
}

.app-container {
  padding: 30px;
}